.work-card {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: transform 1s;

}

.work-card:hover {
    transform: scale(1.1);

}

.work-content {
    width: 100%;
    height: 50vh;
    position: relative;
}

.work-avatar {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.work-name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s;

}

.work-card:hover .work-name {
    opacity: 1;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1.5px black;


}