
 .romRotateSkill {
     position: absolute;
     z-index: -2;
     width: 90px;
     height: 90px;
     background-color: rgb(221, 22, 22);
     box-shadow: -5px 5px 90px 9px rgb(214, 9, 9);
     transform-origin: center;
     border-radius: 10%;
     animation: rotate 6s linear infinite;
      transition: all 3s ease;
 }
@keyframes rotate {
     0% {
         transform: rotate(0deg);
     }

     100% {

         transform: rotate(-360deg);
     }
 }

 

 .scrolled {
     position: absolute;
     z-index: -2;
 margin-top: 4rem;
    width: 190px;
     height: 4px;
    background-color: rgb(221, 22, 22);
     box-shadow: -5px -42px 90px 40px rgb(214, 9, 9);
     transform-origin: center;
     border-radius: 10%;
     animation: reduceDiv  3s   ease; 
 }

@keyframes reduceDiv {
     0% {
     width: 70px;
     height: 70px;
     }
 25% {
     width: 30px;
     height: 30px;
     }
  
     100% {
     width: 190px;
     height: 4px;
     }
 }




  .scrolledh1 {
     font-size: 4rem;
     position: absolute;
     z-index: -1;
     color: rgb(255, 255, 255);
        transition: all 2s ease;



 }

 .scrolledh3 {
     font-size: 2.2rem;
     z-index: 1;
     color: rgba(0, 0, 0, 0);
        transition: all 2s ease;

 }



 .backgroungImgSkill, .backgroungImgSkillLapto{

     width: 100%;
     height: 40vh;
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
 }

.romRotateSkillh1{
   font-size: 4rem;
     position: absolute;
     z-index: -1;
     color: rgba(255, 255, 255, 0.242);

}

.romRotateSkillh3{
   font-size: 2.2rem;
     z-index: 1;
     color: rgb(0, 0, 0);
        transition: all 2s ease;
}


.skillsCard{
    width:9rem;
    margin-left: 2rem;
    margin-top: 2rem;
}
.skillsImages {
    height: 100%;
    width: 100%;
    padding-top: 20px;
}


@media (max-width: 607px)  {

    .backgroungImgSkillLapto {
display: none;

    }
}
 

@media (min-width: 607px)  {

    .backgroungImgSkill {
display: none;

    }
}
 

@media (min-width: 300px) and (max-width: 700px) {
    .skillsCard{
    width:5rem;
}
  

}