.Index {
   position: fixed;
    width: 100vw;
    z-index: 20;
      transition: background-color 0.5s ease-in-out;

}

.ocultP {
    position: fixed;
    left: 1px;
    top: 1px;
    color: transparent;
}

.logoContainer {
    display: flex;
    flex-flow: row nowrap;
}

.ButtonEmail {
    background-color: rgba(255, 255, 255, 0) !important;
   
}
.collapse{
    border: none !important;
}

.logoP {
    font-size: 2.3rem;
    margin-top: 6px;
    background-image: linear-gradient(20deg, #ff0000 30%, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    z-index: 2;
    position: relative;
}



@media (max-width: 607px) {
    .logoP {
        font-size: 1.5rem;

    }

    .logoContainer {

        width: 100px;
    }
}


.logo:hover {
    text-decoration: none;
}

.logoContainer {

    position: relative;
    width: 350px;
    overflow: hidden;
}

.logoImg {
    position: absolute;
    left: -100%;
    animation: slideImage 5s ease-in-out forwards;
}

@keyframes slideImage {
    0% {
        left: -100%;

    }

    100% {
        left: 295px;
    }

}

.openButton,
.closeButton {
    display: block;
    border: none !important;
}

.openButton {
    background-color: transparent;
    display: none;


}




.ButtonEmail:hover .closeButton {
    display: none;
     border: none !important;

}

.ButtonEmail:hover .openButton {
    display: block;
     border: none !important;
    
}

.custom-close-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: red;
     border: none !important;
}

.custom-close-button:focus {
    outline: none;
     border: none !important;
}

.Contact {
    background-color: rgba(0, 0, 0, 0.745);
    color: rgb(255, 255, 255);

}


.Contact {
    background-color: rgba(0, 0, 0, 0.745);
}

.modal-content {
    border-radius: 20px;
}

.btn{
    border: none !important;
}
.navDireccion {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    z-index: 2;
    border: none !important;
}
.collapse{
    border: none !important;
}
.navIcon {

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;

}

@media (min-width: 607px) {
    .Index {
        position: fixed;

    }

}

