.Index {
    background-color: rgba(0, 0, 0, 0.617);
    width: 100vw;


}

.ocultP {
    position: fixed;
    left: 1px;
    top: 1px;
    color: transparent;
}

.logoContainer {
    display: flex;
    flex-flow: row nowrap;
}

.ButtonEmail {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.logoP {

    font-size: 1.9rem;
    font-family: monospace;
    margin-top: 10px;
    color: red;
    text-decoration: rgb(239, 239, 239);
    text-decoration: none;
    z-index: 2;
}

@media (max-width: 607px) {
    .logoP {
        font-size: 1.2rem;

    }

    .logoContainer {
        margin-left: 50px;
        width: 100px;
    }
}

.logoP:hover {
    color: white;

}

.logo:hover {
    text-decoration: none;
}

.logoContainer {

    position: relative;
    width: 350px;
    overflow: hidden;
}

.logoImg {
    position: absolute;
    left: -100%;
    animation: slideImage 5s ease-in-out forwards;
}

@keyframes slideImage {
    0% {
        left: -100%;

    }

    100% {
        left: 295px;
    }

}

.openButton,
.closeButton {
    display: block;
}

.openButton {
    background-color: transparent;
    display: none;


}

.ButtonEmail:hover {
    background-color: transparent;
}

.ButtonEmail::after {
    outline: none;
}


.ButtonEmail:hover .closeButton {
    display: none;
}

.ButtonEmail:hover .openButton {
    display: block;
}

.custom-close-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: red;
    cursor: pointer;
}

.custom-close-button:focus {
    outline: none;
}

.Contact {
    background-color: rgba(0, 0, 0, 0.745);
    color: rgb(255, 255, 255);

}


.Contact {
    background-color: rgba(0, 0, 0, 0.745);
}

.modal-content {
    border-radius: 20px;
}

.navDireccion {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.navIcon {

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;

}

@media (min-width: 607px) {


    .Index {
        position: fixed;

    }

}