.button-send {
    border-radius: 10px;
    border: none;
    background-color: red;
    width: 100%;
    transition: 1s ease;
   cursor: none;
    color: black;
}

.button-send:hover{
    cursor: none !important;
background-color: black;
}

.btn-primary:active{
    background: black!;
    color: red;
}