.imageContainer {
    width: 100%;
    position: relative;
}

.Git,
.linked,
.button-CV {
    width: 100%;
    height: auto;
    margin-top: 10px;
    transition: transform 0.5s;
}

.linkGit:hover .Git,
.linklinked:hover .linked,
.button-CV:hover {
    transform: scale(1.2);
}

.button-CV {
    margin-top: 11px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    width: 50px;
    height: 50px;
    padding: 4px;
    border-radius: 50%;
    border: 6px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    background-color: rgb(255, 0, 0);
    transition: transform 0.5s;
}

.Link-button-cv-dropdown {
    width: 43px;
    height: 50px;
    margin-top: 20px;
    padding: 4px;
}

.button-CV:hover {
    color: white;
    text-decoration: none;
}


.dropdown-menu.centered {
    background-color: rgba(0, 0, 0, 0.775);
    width: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transform: scaleX(0);
    left: -90px;
    transform-origin: top right;
    transition: transform 0.5s ease-in-out;
}

.dropdown-toggle-icon {
    border: 1px solid red;
    background-color: transparent;
    border-radius: 40%;
    transform: scaleX(-1);
    width: 55px;
    height: 55px;
    background-image: url('../../../public/akat.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

@media (min-width: 600px) {
    .dropdown-toggle-icon {
        display: none;

    }
}

.dropdown-menu.show.centered {

    transform: scaleX(1.5);
}

.dropdown-toggle-icon {
    transform: scaleX(-1);
    position: relative;
    left: 90%;
    animation: slideImage-mb 2s ease-in-out forwards;
}

@keyframes slideImage-mb {
    0% {
        left: +230%;

    }

    100% {
        left: -80px;
    }

}