
/* eliminamos el cursor prewdefinido para crear uno personalizado  y lo globalizamos  */
html {
    cursor: none }
*:hover{
  cursor: none !important;
}
/* para marcar en todo los ROW de bootstrap que no tengan margenes por que en el resposive me da scroll */
.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Heebo, sans-serif;
     cursor: none 
}

h1 {
    color: white;
}

.WorkGalleryPage {
    z-index: 1;

}


.c-cursor {
  --size: 20px;
  position: fixed;
  width: var(--size);
  height: var(--size);
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
  pointer-events: none;
  transition: transform 0.00s ease-in-out; /* Ajustar la duraci贸n de la transici贸n */
  z-index: 11000;
  will-change: transform;
}

.c-cursor__inner {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 6px solid rgb(255, 0, 0);
  transition: all 0.001s ease-in-out; /* Ajustar la duraci贸n de la transici贸n */
  opacity: 1;
  transform: scale(1) translate(0);
   transition: 0.5s ease;
}

/* Efecto al hacer clic */
.is-clicked .c-cursor__inner {
   width:60% ;
  height:60% ;
  background-color: rgb(253, 87, 87);
  border: 3px solid black;
}

/* Efecto al ocultar el cursor */
.is-hidden .c-cursor__inner {
  opacity: 0;
}

/* Efecto al pasar el cursor sobre enlaces y botones */
.is-hover .c-cursor__inner {
  width:390% ;
  height:390% ;
  background-color: rgba(0, 0, 0, 0.533);
  color: white;
  transition: 0.5s ease;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
border: 2px solid white;
    animation:cursorAnimation 4s linear infinite;
}
@keyframes cursorAnimation {
  0%{
    border: 2px solid red;
  }
   20%{
      border: 2px solid blue;
  
  }
   40%{
          border: 2px solid pink;
  }
   60%{
          border: 2px solid orange;

  }
   80%{

           border: 2px solid purple;


  }

    100%{
          border: 2px solid pink;


  }
}




@media (max-width: 807px) {
 .c-cursor__inner,
 .c-cursor,
 .is-hover,
  .c-cursor__inner,
   .is-clicked,
    .c-cursor__inner {
  display: none;
background-color: transparent;
 }
}


