body {
    background-image: url('../public/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    position: relative;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    z-index: -4;
    background-image: inherit;
    background-size: cover;
    background-repeat: repeat;
    transform: scale(0.5);
    transform-origin: top left;
}