.articleAboutMe {
    margin-top: 150px;
    margin-bottom: 50px;
    padding: 20px;
    font-size: 1.075rem;
    color: rgb(255, 255, 255);
    background-color: #000000d5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.637);
}

.imgContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.AritcleImg img {

    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.AritcleImg {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


@media (min-width: 700px) {

    .PortFol {

        background-size: cover;
        position: fixed;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        z-index: -1;
        position: relative;
        transform-origin: top left;

    }

}
.AritcleImg img{
    height: 700px;
    object-fit: cover;
}



.AritcleImg img{
    height: 700px;
    object-fit: cover;
}





.article-img-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 10; /* Sube el contexto de apilamiento completo */
}

.article-img-primary {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.article-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.article-img-container:hover .article-img-primary {
    opacity: 0;
}

.article-img-container:hover .article-img-hover {
    opacity: 1;
}






.PortFol {

    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    z-index: -1;
    position: relative;
    transform-origin: top left;

}